@import ".meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic";
@import ".meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons";
@import "welcome";

.profile-wrapper {
  //height: 40vh;
  .image-wrapper {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img, div {
      border: solid 1px #ccc;
      border-radius: 50%;
      height: 150px;
      width: 150px;
    }
  }
  .login-wrapper {
    height: 5vh;
    display: flex;
    justify-content: center;
  }
}


.modal-enter {
  transform: translateY(100%);
}

.modal-enter.modal-enter-active {
  transform: translateY(0);
  transition: transform .3s ease;
}

.modal-leave {
  transform: translateY(0);
}

.modal-leave.modal-leave-active {
  transform: translateY(100%);
  transition: transform .3s ease;
}
